<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fan Collection</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="./assets/pspk.jpg" width="'125px" height="100px">
                
            
            </div>
            <div>
                <h1>
                    FANDOM

                </h1>
            </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a routerLink="home" class="nav-link" routerLinkActive="active">Home</a></li>
                        <li>  <a routerLink="products" class="nav-link" routerLinkActive="active">Products</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="">Account</a></li>
                    </ul>
                </nav>
                <img src="./assets/cart.jpg"  width="30px" height="30px"/>
                <img src="./assets/menu.jpeg" class="menu-icon" 
                oneclick="menutoggle()"/>
            </div>
        </div>

    
                <div class="row">
                    <div class="col-1">
                        <h1>STYLE <br>YOURSELF! </h1>
                        <p>
                            Always aim to be better than your best self!
                        </p>
                        <a href="" class="btn">Explore Now &#8594;</a>
                    </div>
                  
                        <div class="col-2">
                            <img src="./assets/anime 3.jpeg">
                            <img src="./assets/aaa.png">
                        </div>
                    
                </div>
            </div>
                
<!------feartured categories------->
<div id="#products">
                <div class="categories">
                    <div class="small-containers">
                        <div class="row">
                            <div class="col3">
                                <img src="./assets/anime 3.jpeg">
                            </div>
                            <div class="col3">
                                <img src="./assets/ani.jpg">
                            </div>
                            <div class="col3">
                                <img src="./assets/ap.jpeg">
                            </div>

                    </div>
                  
                    </div>
                </div>

                <!------featured products-->
                <div class="small-containers">
                    <h2 class="title">Feartured Products</h2>
                    <div class="row">
                        <div class="col-4">
                            <img src="./assets/product1.jpeg">
                            <h4> maroon polo t-shirt for men</h4>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <p>$50.00</p>
                        </div>
                        <div class="col-4">
                            <img src="./assets/link2.jpg">
                            <h4>Design printed t-shirt </h4>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <p>$50.00</p>
                        </div>
                        <div class="col-4">
                            <img src="./assets/link3.jpeg">
                            <h4> Maths quote printed t-shirt</h4>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <p>$50.00</p>
                        </div>
                        <div class="col-4">
                            <img src="./assets/link4.png">
                            <h4> Powerstar pawan kalyan t-shirt</h4>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <p>$50.00</p>
                        </div>
                        <div class="col-4">
                            <img src="./assets/link5.jpg">
                            <h4> Demon slayer anime printed t-shirt </h4>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <p>$50.00</p>
                        </div>
                        <div class="col-4">
                            <img src="./assets/link6.jpeg">
                            <h4> Naruto anime printed t-shirt</h4>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <p>$50.00</p>
                        </div>
                    </div>
                    <h2 class="title">Latest Products</h2>
                    <div class="row">
                        <div class="col-4">
                            <img src="./assets/pro1.jpeg">
                            <h4> Blue classic full sleves shirt</h4>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <p>$50.00</p>
                        </div>
                        <div class="col-4">
                            <img src="./assets/pro2.jpeg">
                            <h4>Nike chunky sneakers </h4>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <p>$50.00</p>
                        </div>
                        <div class="col-4">
                            <img src="./assets/pro3.jpeg">
                            <h4> Nike Air Jordan orange</h4>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <p>$50.00</p>
                        </div>
                        <div class="col-4">
                            <img src="./assets/pro4.jpeg">
                            <h4> Baggy Styling cargo pant </h4>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <p>$50.00</p>
                        </div>
                        <div class="col-4">
                            <img src="./assets/pro5.jpeg">
                            <h4> Black cargo pant </h4>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <p>$50.00</p>
                        </div>
                        <div class="col-4">
                            <img src="./assets/pro6.jpeg">
                            <h4> Blue Baggy Jeans</h4>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <p>$50.00</p>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <img src="./assets/pro7.jpg">
                                <h4> Google Smart Watch</h4>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <p>$50.00</p>
                            </div>
                            <div class="col-4">
                                <img src="./assets/pro8.jpg">
                                <h4>Nokia black Smart watch </h4>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <p>$50.00</p>
                            </div>
                          
                        
                       
                        </div>
                         
                    </div>
                    </div>
                  </div>
                <!-- </div> -->

   <!------OFFER products-->
   <div class="offer">
    <div class="small-containers">
        <div class="row">
            <div class="col-2">
                <p>Exclusively Available On FANDOM</p>
                <img src="./assets/pro10.jpeg" class="offer-img">
            </div>
            <div class="col-2">
                
                <h1>Smart Band 4</h1>
                
                <small> The Mi Smart Band 4 features a 39.9% larger (than Mi Band 3) AMOLED color full-touch display with adjustable brightness, so everything is clear as can be. Compatible with Android 4.4 or later/iOS 9.0 or later. Water-resistant at a depth of up to 50m
        </small>
            <a href="" class="btn">Buy Now &#8594;</a>
            </div>
             </div>
    </div>
   </div>
   <!-----BRANDS------>
   <div class="brands">
    <div class="small-container">
        <div class="row">
            <div class="col-5">
                <img src="./assets/brand1.png">
            </div>
            <div class="col-5">
                <img src="./assets/brand2.jpeg">
            </div>
            <div class="col-5">
                <img src="./assets/brand3.png">
            </div>
            <div class="col-5">
                <img src="./assets/brand4.png">
            </div>
            <div class="col-5">
                <img src="./assets/brand5.png">
            </div>
        </div>
    </div>
   </div>
            <!-----footer---->
     <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download Our App</h3>
                    <p>Download App For Android ANd Ios Mobile Phone.</p>
                    <div class="app-logo">
                        <img src="./assets/play1.jpeg">
                        <img src="./assets/play2.jpg">
                    </div>
                </div>
                <div class="footer-col-2">
                    
                    <img src="./assets/pspk.jpg" width="'125px" height="100px">
                    <p>purpose is to sustainably make the pleasure and benefits of sports accessible to the many. </p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Join Affiliate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow Us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Instagram</li>
                        <li>Twitter</li>
                        <li>YouTube</li>
                    </ul>
                </div>
            </div>
        </div>
     </div> 
     <!-----js for toggle menu---->
     <script>
        var MenuItems=document.getElementById("MenuItems");
        MenuItems.style.maxHeight="0px";

        function menutoggle(){
            if(MenuItems.style.maxHeight=="0px"){
                MenuItems.style.maxHeight="200px";
            }
            else{
                MenuItems.style.maxHeight="0px";
            }
        }
     </script>      
</body>
</html>